<div class="container">
  <% @photographs.in_groups_of(4) do |photograph| %>
    <ul class="row">
      <% photograph.each do |p| %>
        <li class="instagram-pic col-xs-3">
          <a href="<%= p['link'] %>"><img class="img-responsive img-thumbnail" src=<%= p["images"]["standard_resolution"]["url"] %>></a>
          <% unless p["user"]["username"].nil? %> 
            <a href="https://instagram.com/<%= p['user']['username'] %>">@<%= p["user"]["username"] %></a>
          <% end %>
          <p><%= p["caption"]["text"] %></p>
          <% unless p["location"].nil? %> 
               <span>Location: <%= p["location"]["name"] %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <div class="btn-next-container">
      <%= link_to "Load More", { controller: "photographs", action: "index", instagram_url: @pagination }, class: "btn-next" %>
  </div>
</div>